// Colors
$color-primary: #060b35;
$color-secondary: #fff;
$color-tertiary: #616070;
$background-color: #00acdc;

// Font sizes
$font-size-small: 10px;
$font-size-base: 12px;
$font-size-large: 14px;
$font-size-xl: 16px;
$font-primary: MyFont, sans-serif;
